{% extends 'base.html' %}

{% block title %}Awesome Microbes{% endblock %}

{% block content %}
<section class="page-intro">
    <p class="eyebrow">Explore Microbial Worlds</p>
    <h1 class="main-heading">Sources</h1>
</section>

<section class="card-grid" aria-label="Sources">
    <article class="card">
        <h2>Images</h2>
        <p>
            All images were retrieved from Wikipedia and are governed by the Creative Commons license for free use.
        </p>
        <h2>Articles</h2>
        <p>
            
        </p>
    </article>
</section>
{% endblock %}
